<!--suppress HtmlFormInputWithoutLabel -->
<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(form)" #form="ngForm">

    <mat-form-field appearance="standard">
      <mat-label>Expense Name</mat-label>
      <input matInput required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Expense Description</mat-label>
      <input matInput required formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Expense Type</mat-label>
      <mat-select formControlName="expenseType">
        <mat-option *ngFor="let expenseType of expenseTypes" [value]="expenseType">
          {{expenseType | expenseTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Expense Date</mat-label>
      <input matInput required formControlName="expenseDate">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Monetary Value</mat-label>
      <input matInput required formControlName="value">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-button color="warn" (click)="onReset()">Reset</button>
    </div>

  </form>
</div>

<div>
  <p *ngIf="(this.allExpenses$ | async).length === 0">No expenses yet!</p>
  <div *ngFor="let expense of (this.allExpenses$ | async)">
    <p>{{expense.name}} (£{{expense.value}}) <a class="deleter" (click)="onDelete(expense.id)">Delete #{{expense.id}}</a></p>
  </div>
</div>
