.form-container, .form-container > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

button {
  width: 85px;
}

.deleter {
  color: red;
  cursor: pointer;
}
